<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a new listing</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a Catchy title" class="form-control"
                        required>
                    <div class="valid-feedback">Title Looks Good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description!</div>

                </div>
                <div class="mb-3">
                    <label for="Image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid!</div>

                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter the Country name!</div>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        required>
                    <div class="invalid-feedback">Please enter the location!</div>
                </div>
                <div class="mb-3">
                 <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-select" required>
                         <option value="" selected disabled>Choose category</option>
                         <option value="Rooms">Rooms</option>
                         <option value="Mountains">Mountains</option>
                         <option value="Cities">Iconic cities</option>
                         <option value="Castles">Castles</option>
                         <option value="Amazing Pools">Amazing pools</option>
                         <option value="Camping">Camping</option>
                         <option value="Farms">Farms</option>
                         <option value="Arctic">Arctic</option>
                    </select>
                <div class="invalid-feedback">Please select a category!</div>
</div>
                <button class="btn btn-dark add-btn mt-3">Add</button>
            </form>
        </div>
    </div>